*{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4{
  font-weight: 900;
  font-family: alegreya;
}

/************ Navbar Css ************/

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
  height: 90px;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #202020;
  opacity: 0.80;
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar a{
  text-decoration: none;
}
nav.navbar a.navbar-brand h1{
  color: #fff;
  font-size: 60px;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 900;
  color: #fff;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 25px;
  opacity: 0.75;
}
.navbar-link:hover{
  background-color: #fff;
  color: #000 !important;
  width: 150px;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-weight: 900;
  font-family: alegreya;
  font-size: 18px;
}

/************ Banner Css ************/
.header {
  background-image: url('./assets/img/header/header.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  padding-top: 150px;
}
.header h1{
  color: #fff;
  font-size: 60px;
}
.header i{
  font-size: 200px;
  color: #fff;
  margin-top: 100px;
  margin-left: 43%;
}

/************ Services Css ************/
.services1{
  display: flex;
  width: 100%;
  height: 500px;
}
.services1 a{
  text-decoration: none;
  color: inherit;
  font-family: alegreya;
  font-weight: 900;
}
.services1 .text{
  width: 50%;
  text-decoration: none;
}
.services1 .image{
  width: 50%;
  height: 100%;
}
.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .2s;
}
.image img:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.services2{
  display: flex;
  width: 100%;
  height: 600px;
  text-align: center;
}
.services2 .services3{
  width: 50%;
  height: 100%;
}
.services2 .image2{
  width: 100%;
  height: 300px;
}
.services3{
  width: 300px;
  margin: 0;
}
.services3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services2 .Graphic{
  background: linear-gradient(to right,#a0ddce 30%,#8cd3c5 50%);
}
.services2 .Photography{
  background: #54ceff;
}
.text{
  margin: 30px 0;
}
.services1 .text{
  padding: 100px 150px;
}
.services1 .text h2{
  font-size: 40px;
  margin-bottom: 20px;
}
.services2 .text{
  padding: 30px 150px;
  margin-bottom: 100px;
}

/************ Testimonies Css ************/
#testimonies{
  margin: 100px 0;
}
.testies{
  display: flex;
}
.testimonies{
  width: 300px;
  margin: auto;
  margin-top: 50px;
}
.testimonies img{
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
#testimonies .text1{
  margin: 15px 0;
}

#testimonies .text2{
  font-weight: 900;
  font-family: alegreya;
}
/************ Projects Css ************/
#card{
  margin-top: 100px;
}
.carde{
  width: 25%;
  margin: O;
  padding: 0;
}
.carde img{
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 0;
  object-fit: cover;
  margin: O;
  padding: 0;
}


/************ Footer Css ************/
footer{
  padding-top: 100px;
  height: 400px;
  background-color: #90d4c5;
  color: #2c7466;
}
footer h1{
  font-size: 40px;
  padding-bottom: 50px;
}
.link a{
  padding: 20px;
  font-size: 25px;
  text-decoration: none;
  color: inherit;
}
.icon{
  padding: 30px;
}
.icon > i{
  font-size: 25px;
  margin: 20px 15px;
  padding-bottom: 20px;
}


/************* Responsive css************/


@media screen and (max-width: 900px) {
  body{
      width: 100%;
      display: grid;
  }
  .header{
      width: 100%;
      height: 500px;
  }
  .header i{
    margin-top: 0;
    font-size: 100px;
  }
  .footer{
      width: 100%;
  }
  .header h1{
      font-size: 45px;
      margin: 30px;
  }
  #services{
      display: grid;
      grid-template-columns: auto;
      margin: 0;
  }
  .services1{
      display: grid;
      width: 100%;
      height: 1000px;
      padding: 0;
  }
  .services1 .text{
      width: 100%;
      margin: 0;
      font-size: 20px;
      padding: 10px 30px;
  }
  .services1 .image{
      width: 100%;
      margin: 0;
  }
  .services1 img{
      width: 100%;
      padding: 0;
      object-fit: cover;
  }
  .services2{
      display: grid;
      width: 100%;
      height: 1000px;
      padding: 0;
  }
  .services2 .text{
      width: 60%;
      margin: 0;
      font-size: 20px;
      padding: 10px 30px;
  }
  .services2 .image2{
      width: 100%;
      margin: 0;
      padding: 0;
  }
  .services2 img{
      width: 100%;
      object-fit: cover;
  }
  .services2 .Graphic{
      width: 100%;
      padding: 0;
  }
  .services2 .Photography{
      width: 100%;
      padding: 0;
  }
  .services2 .Graphic > .text{
      width: 100%;
      padding: 5px 10px;
  }
  .services2 .Photography > .text{
      width: 100%;
      padding: 5px 10px;
  }

  #testimonies{
      width: 100%;
  }
  #testimonies > .testies{
      padding: 0;
      display: grid;
      grid-template-columns: auto;
  }
  .card{
      width: 100%;
      display: grid;
      margin: O;
      padding: 0;
  }
}